/* built in laravel css without railway font */

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Helvetica', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
    padding:10px;
    padding-bottom:60px;   /* Height of the footer */
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

header {
    text-align: center;
    margin-top: 20px;
}

section#main {
    text-align: center;
}

/* footer from our foobooks project */

footer {
    text-align: center;
    background-color: #eee;

    /* sticky footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

/*----------------------------------------------------
Nav bar - also from foobooks
-----------------------------------------------------*/
nav {
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 5px;
    margin-top: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

nav ul li a:link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;

}

nav ul li a:hover {
    color: #18bc9c; /* flatly teel */
}

/*----------------------------------------------------
Typography
-----------------------------------------------------*/
a.active:link, a.active:visited, a.active:active, a.active:hover {
    color: #18bc9c;
}

h1 {
    text-align: center;
    font-size: 3.0rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2.0rem;
}
